/* figtree-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/figtree-v9-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* figtree-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/figtree-v9-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* figtree-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 800;
    src: url('./assets/fonts/figtree-v9-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header,
main,
footer {
    /*Contentbegrenzung*/
    padding: 0rem max(calc(50% - 720px), 0rem);
}

body {
    background-color: #06171E;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #09212A;
}

.header_content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 140px;
}

header img {
    height: 32px;
}

main {
    flex: 1;
}

h1 {
    font-family: 'Figtree';
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 40px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 56px 5px;
    margin-bottom: 88px;
    justify-content: center;
}

.image_card {
    width: 150px;
    height: 150px;
    border: 2px solid #124658;
    border-radius: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image_card:hover {
    border-color: #6BC1E1;
    transition: all 300ms ease-out;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer_content {
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

footer img:first-of-type {
    height: 24px;
    width: 100%;
}

.footer_background {
    height: 100%;
    width: 100vw;
    position: absolute;
    z-index: -1;
}

footer p {
    font-family: 'Figtree';
    font-weight: 400;
    font-size: 14px;
    color: #99ACB3;
}

#image_dialog {
    margin: auto;
    background-color: #09212A;
    padding: 32px 64px;
    border-radius: 40px;
    border: none;
}

.dialog_wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.dialog_wrapper section {
    display: flex;
    justify-content: center;
}

.dialog_wrapper section img {
    object-fit: cover;
    height: 375px;
    width: 300px;
}

.dialog_header {
    display: flex;
    justify-content: space-between;
}

.dialog_header>h2 {
    font-family: 'Figtree';
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}

.dialog_header button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.dialog_footer {
    display: flex;
    justify-content: center;
    gap: 56px;
    color: #F5F5F5;
    font-family: 'Figtree';
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
}

.dialog_footer button {
    height: 60px;
    width: 60px;
    /* background-color: #FD5B4F; */
    /* opacity: 0.1; */
    border-radius: 100px;
}


@media screen and (min-width:992px) {
    .dialog_wrapper section img {
        height: 374.71px;
        width: 560px;
    }

    .header_content {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 20px 140px;
    }

    .images {
        padding: 56px 135px;
    }
}